{% extends 'base.html'%}
{% block content %}
<p>
<ul>
    {% for meeting in page_obj %}
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">{{meeting.meeting_name}}</h5>
            <h6 class="card-subtitle mb-2 text-body-secondary">{{meeting.date_meeting}} &nbsp
                {{meeting.time_meeting}}</h6>
            <p class="card-text">{{meeting.meeting_description}}</p>
            <a href="{% url 'meeting_about' meeting.pk %}" class="card-link">Подробнее</a>
            <a href="{% url 'meeting_raiting' %}" class="card-link">Оценить встречу</a>
        </div>
    </div>
    {% endfor %}
</ul>
</p>
<ul>
    <p>
        <button type="button" class="btn btn-outline-secondary">
            <a class="nav-link active" href="{% url 'add_meeting' %}">Добавить встречу</a>
        </button>
    </p>
</ul>
<ul>
    <p>
    <nav>
        <ul class="pagination">
            {% if page_obj.has_previous %}
            <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.previous_page_number }}">&lt</a>
            </li>
            {% endif %}
            {% for p in page_obj.paginator.page_range %}
            {% if page_obj.number == p %}
            <li class="page-item active" aria-current="page">
                <a class="page-link" href="?page={{ p }}">{{ p }}</a>
            </li>
            {% elif p >= page_obj.number|add:-3 %}
            <li class="page-item">
                <a class="page-link" href="?page={{ p }}">{{ p }}</a>
            </li>
            {% endif %}
            {% endfor %}
            {% if page_obj.has_next %}
            <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.next_page_number }}">&gt</a>
            </li>
            {% endif %}
        </ul>
    </nav>
    </p>
</ul>


{% endblock %}