{% extends 'base.html'%}
{% block content %}
<ul>
    {% for cf in cafe %}

    <p>
    <div class="card" style="width: 18rem;">
        <img src="{{ cf.place_photo.url }}" class="card-img-top">
        <div class="card-body">
            <h5 class="card-title">{{ cf.place_name }}</h5>
            <p class="card-text">{{ cf.description|linebreaks }}</p>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">{{ cf.address }}</li>
            <li class="list-group-item">Cредний чек: {{ cf.average_paycheck }} руб</li>
            <li class="list-group-item">{{ cf.place_phone }}</li>
        </ul>
        <div class="card-body">
            <a href="{% url 'cafe_rating' cf.pk %}" class="card-link">Отзывы</a>
            <a href="{{ cf.place_site }}" class="card-link">{{ cf.place_site| cut:"http://" }}</a>

        </div>
    </div>
    </p>

    {% endfor %}
</ul>
<ul>
    <p>
    <nav>
        <ul class="pagination">
            {% if page_obj.has_previous %}
            <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.previous_page_number }}">&lt</a>
            </li>
            {% endif %}
            {% for p in page_obj.paginator.page_range %}
            {% if page_obj.number == p %}
            <li class="page-item active" aria-current="page">
                <a class="page-link" href="?page={{ p }}">{{ p }}</a>
            </li>
            {% elif p >= page_obj.number|add:-3 %}
            <li class="page-item">
                <a class="page-link" href="?page={{ p }}">{{ p }}</a>
            </li>
            {% endif %}
            {% endfor %}
            {% if page_obj.has_next %}
            <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.next_page_number }}">&gt</a>
            </li>
            {% endif %}
        </ul>
    </nav>
    </p>
</ul>


{% endblock %}